<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-zinc-900 text-zinc-400">
    <div id="full" class="mx-auto max-w-[750px] px-4 pb-20 pt-6 text-lg sm:px-12 md:px-16">
      {% include navbar.html %}
      <div class="mb-6 mt-8 flex items-center gap-4 sm:mb-8 sm:mt-16 sm:gap-5">
        <img src="/assets/images/arch.png" class="h-[65px] w-[65px] rounded-full sm:h-[80px] sm:w-[80px]" />
        <div class="flex flex-col gap-0.5">
          <h1 class="text-xl font-semibold text-white sm:text-3xl sm:font-bold">Archit Sharma</h1>
          <span class="text-base sm:text-lg">SDE based in India</span>
        </div>
      </div>
      <div class="flex flex-col gap-3 text-base leading-7 sm:gap-4 sm:text-lg sm:leading-8">
        <p>Aspiring Software Developer and third-year computer science student. I am eager to learn new technologies and apply them to either develop something helpful or improve existing applications.</p>
      </div>
      {% include social.html %}
  </div>
  <script src="/assets/js/app.js"></script>
  </body>
</html>
