<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-zinc-900 text-zinc-400">
    <div id="full" class="mx-auto max-w-[750px] px-4 pb-20 pt-6 text-lg sm:px-12 md:px-16">
      <div class="flex items-center justify-between gap-5 rounded-md border border-zinc-700/40 bg-zinc-800 px-5 text-base sm:px-6">
        <div id="main" class="relative block sm:hidden">
          <button type="button" class="flex items-center py-3 text-sm transition-colors hover:text-zinc-300 sm:hidden sm:text-base" onclick="showMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu "><line x1="4" x2="20" y1="12" y2="12"></line><line x1="4" x2="20" y1="6" y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg>
            <span>&nbsp;</span>
          </button>
        </div>
        <div class="hidden items-center gap-6 sm:flex">
        <a class="relative flex items-center gap-2 py-3 pr-1 text-sm transition-colors hover:text-zinc-300 sm:text-base" href="#about">About</a>
        <a class="relative flex items-center gap-2 py-3 pr-1 text-sm transition-colors hover:text-zinc-300 sm:text-base" href="#work">Work</a>
        <a class="relative flex items-center gap-2 py-3 pr-1 text-sm transition-colors hover:text-zinc-300 sm:text-base" href="#projects">Projects</a>
        <a class="relative flex items-center gap-2 py-3 pr-1 text-sm transition-colors hover:text-zinc-300 sm:text-base" href="https://dev.to/iarchitsharma">Blogs</a>
      </div>
      
        <a class="relative flex items-center gap-2 py-3 pr-1 text-sm transition-colors hover:text-zinc-300 sm:text-base" href="https://www.linkedin.com/in/iarchitsharma/">Hire Me!</a>
      </div>
      <div class="mb-6 mt-8 flex items-center gap-4 sm:mb-8 sm:mt-16 sm:gap-5">
        <img src="/assets/images/arch.png" class="h-[65px] w-[65px] rounded-full sm:h-[80px] sm:w-[80px]" />
        <div class="flex flex-col gap-0.5">
          <h1 class="text-xl font-semibold text-white sm:text-3xl sm:font-bold">Archit Sharma</h1>
          <span class="text-base sm:text-lg">SDE based in India</span>
        </div>
      </div>
      <div class="flex flex-col gap-3 text-base leading-7 sm:gap-4 sm:text-lg sm:leading-8">
        <p>Aspiring Software Developer and third-year computer science student. I am eager to learn new technologies and apply them to either develop something helpful or improve existing applications.</p>
      </div>
  </div>
  <script>
    function checkScreenWidth() {
      const div = document.getElementById('main');
      if (window.innerWidth >= 768) {
        div.classList.add('hidden'); 
      } else {
        div.classList.remove('hidden'); 
      }
    }

    window.addEventListener('resize', checkScreenWidth);

    document.addEventListener('DOMContentLoaded', checkScreenWidth);

    // dISPLAY MENU
    function showMenu() {
      const existingMenu = document.getElementById("menu-overlay");
      if (existingMenu) {
        return; // Don't add if it already exists
      }
      document.getElementById('full').classList.add('hidden'); 

      document.body.insertAdjacentHTML("beforeend", `
      <div id="menu-overlay" class="fixed bottom-0 left-0 right-0 top-0 z-10 flex flex-col items-center justify-center rounded-md bg-zinc-800"><button type="button" class="absolute left-7 top-7 p-3 transition-colors hover:text-zinc-200"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x "><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg></button><a href="/" class="flex items-center py-1.5 text-xl transition-colors hover:text-zinc-200">Home</a><a href="/work" class="flex items-center py-1.5 text-xl transition-colors hover:text-zinc-200">Work</a><a href="/projects" class="flex items-center py-1.5 text-xl transition-colors hover:text-zinc-200">Projects</a><a href="/posts" class="flex items-center py-1.5 text-xl transition-colors hover:text-zinc-200">Posts</a></div>
      `);

    }

    // Function to hide the menu
    function hideMenu() {
      const menu = document.getElementById("menu-overlay");
      if (menu) {
        menu.remove(); // Remove the menu when called
      }
    }
  </script>
  </body>
</html>
